<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/user_form.css">
</head>
<body>
    

<form action="/api/users" method="POST" id="add_user">
    <div class="container_one">
        <p>Transact & Get Happy Rewards</p>
        <img src="images/people_money.png">
    </div>

<div class="new_user">
<div class="form-group">
<!-- <label for="name" class="text-light">First Name</label>
<input type="text" name="name" placeholder="Enter name"> -->

<label>First Name</label>
          <input type="text" placeholder="Enter First Name" name="firstName" value="<%=(typeof inputData!='undefined')? inputData.firstName:''%>">
           <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.firstName!='undefined' )? errors.firstName.msg:''%></p>

</div>
<div class="form-group">
    <!-- <label for="name" class="text-light">Last Name</label>
    <input type="text" name="name" placeholder="Enter Lastname"> -->

    <label>Last Name</label>
          <input type="text" placeholder="Enter Last Name" name="lastName" value="<%=(typeof inputData!='undefined')? inputData.lastName:''%>">
          <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.lastName!='undefined' )? errors.lastName.msg:''%></p>
    </div>  

<div class="form-group">
    <!-- <label for="email" class="text-light">Email</label>
    <input type="text" name="email" value="" placeholder="example@gmail.com"> -->

    <label>Email Address</label>
    <input type="email" placeholder="Enter Email Address" name="emailAddress" value="<%=(typeof inputData!='undefined')? inputData.emailAddress:''%>">
    <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.emailAddress!='undefined' )? errors.emailAddress.msg:''%></p>
    </div>

    <div class="form-group">
        <!-- <label for="password" class="text-light">Password</label>
        <input type="password" name="password" value="" placeholder="Enter Password"> -->

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password">
        <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.password!='undefined' )? errors.password.msg:''%></p>
        </div>

    

    <div class="form-group">
        <button type="submit">Submit</button>

        </div>
</div>
</form> 
</body>
</html>